.button {
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
}

.button-fill {
    background: var(--green);
    color: var(--white);
}
.button--text {
    width: 100%;
    text-align: center;
    padding: 22px 0;
}

.button--sub_button {
    max-width: 67px;
    width: 100%;
    height: 68px;
    color: var(--green);
    background: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
}