.offer {
    display: flex;
    justify-content: space-between;
}

.offer--text {
    font-family: "Padauk", sans-serif;
    max-width: 564px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offer-text_title {
    font-weight: 500;
    font-size: 55px;
    line-height: 110%;
    color: var(--black);
}
.offer-text_description {
    font-size: 20px;
    line-height: 140%;
    text-align: right;
    letter-spacing: 0.02em;
    color: var(--black);
    display: inline-block;
    max-width: 385px;
}

.offer--imgs {
    position: relative;
}

.offer--imgs-bg {
    position: absolute;
    z-index: -10;
    background: var(--brown);
    width: 705px;
    height: 826px;
    top: -350px;
    right: -150px;
}