@import "css/utils.css";
@import "css/varibles.css";
@import "css/logo.css";
@import "css/header.css";
@import "css/offer.css";
@import "css/button.css";

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Padauk", serif;
}

ul {
    list-style: none;
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
}